

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


li {
  margin: 6px;
  line-height: 3ch;
  list-style: none;
}

.important{

  background-color: #fafafa;
  color: olivedrab;
  font-size: 14px;
  padding: 6px 8px;
  margin: 4px;
  border-radius: 8px;
}

h4 {
  color: green;
}

.exercises {

  color: rgb(60, 110, 75);
  font-size: 0.9rem;
}

.id{
  font-size: 0.9rem;
  color: gray;
}


.course-card {

  padding: 16px;
  margin: 16px;
  background-color: azure;
  border: solid 1px rgb(88, 159, 121);
  border-radius: 16px;

}


h3 {

  text-align: center;
  margin: 16px 0px;
  color: darkslategrey;
}

.total {

  color: darkslategrey;
}


.remarkable {
  font-weight: bold;
}